.venv/
__pycache__/
*.pyc
*.pyo
dist/
build/
.DS_Store
*.egg-info/
.pytest_cache/
logs/
tests/*.m4a
tests/*.mp3
tests/*.wav
test/*.m4a
test/*.mp3
test/*.wav
.tmp-homebrew/
.tmp-homebrew-tap/
test/output/
